.Checkoutform {
  width: 100%;
  margin-top: -9rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 400px;
  height: 39px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
  font-size: 18px;
}
input:focus {
  outline: none;
  border: 2px solid blue;
}
::placeholder {
  padding: 5px;
}
@media screen and (max-width: 500px) {
  input {
    width: 300px;
  }
  .valadationText {
    width: 300px !important;
  }
}
